{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="POST">
    <img src="/images/logo.png" height="130" class="logo"/>

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Senha" />

    <button type="submit">Entrar</button>

    <a href="/signup">Criar uma conta</a>
  </form>

{% endblock %}